.info{
  margin-top: 95px;
  width: 70%;
  /* Esto equilibria lo del aside */
  position: relative;
  top: 25%;
  left: 30%;
  border-color: #ae374a;
  border-radius: 15px;
    box-shadow: 5px 4px 21px lightgray;
  }
.car{
  text-align: center;
  width: 100%;

}
.inp{
  width: 500px;
  height: 25px;
  margin-top: 20px;
}
.but2{
  width: 150px;
  border-color: #ae374a;
  border-radius: 15px;
  background-color: #ae374a;
  margin-left: 50px;
  color: white;
  margin-top: 20px;
}
.but{
  border-color: #ae374a7f;
  border-radius: 15px;
  background-color: #ae374a;
  color: white;
   width: 150px;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.logContainer {
  display: flex;
  justify-content: center;
 background: white;
  box-shadow: 5px 4px 21px lightgray;
  border-radius: 16px;
  flex-direction: column;
  width: 90%;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
}
.borde{
  box-shadow: 5px 4px 21px lightgray;
  border-radius: 16px;
  padding: 20px;
}
.cont{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 90%;
}
.entrada{
  display: flex;
  justify-content: center;
  width: 100%;

}
.cur{
  margin-left:100px;
}
.entrada2{
  width: 70%;
  text-align: left;
  display: flex;
  justify-content: center;

}
.carr{
  margin-left: 10px;
}
.curso{
   margin-left: 20px;
}