<!--carga sidebar-->
<div >
    <div >
    <app-sidebar></app-sidebar>
    </div>

    <!--carga pagina-->
    <div class="info"><mat-card-content  class="logContainer">
           <h3>{{catalogo}}</h3>
                <div class="borde">

                  <h5>Agregar curso</h5>
                  <div class="entrada">
 <input placeholder="Nombre del curso" [(ngModel)]="curso" class="inp">
                <button class="but2">Agregar</button>
            </div>
        
</div>

        </mat-card-content>
     

 


</div>

