<!--carga sidebar-->
<div >
    <div >
    <app-sidebar></app-sidebar>
    </div>

    <!--carga pagina-->
    <div class="info"><mat-card-content  class="logContainer">
           <h3>{{catalogo}}</h3>
                <div class="borde">

                  <h5>Agregar curso</h5>
                  <div class="entrada">
 <input placeholder="Nombre del curso" [(ngModel)]="curso" class="inp">
                <button class="but2">Agregar</button>
            </div>
        
</div>
<div class="borde">

                  <h5>Agregar tema</h5>
                  
                  <div class="entrada2">
                    <label >Curso</label><br>
                  <select class="form-control carr" id="carrera">
                    <option>Computadores</option>
                    <option>Computación</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
 <input placeholder="Nombre del tema" [(ngModel)]="tema" class="inp">
                <button class="but2">Agregar</button>
            </div>
               <div class="borde">

                  <h5>Eliminar curso</h5>
                  <div class="entrada">
 <input placeholder="Nombre del curso" [(ngModel)]="curso" class="inp">
                <button class="but2">Eliminar</button>
            </div>
        
</div>
<div class="borde">

                  <h5>Eliminar tema</h5>
                  
                  <div class="entrada2">
                    <label >Curso</label><br>
                  <select class="form-control carr" id="carrera">
                    <option>Computadores</option>
                    <option>Computación</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
 <input placeholder="Nombre del tema" [(ngModel)]="tema" class="inp">
                <button class="but2">Eliminar</button>
            </div>
    </mat-card-content>    
</div>

        
     

 


</div>

