<!--página principal, desde aquí se cargan los botones de vista-->
<div class="container ">
    <br>
    <br>
      <div class="col-6 mx-auto">
        <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/login-estudiante']" role="button">Estudiante</a>
      </div>
    <br>
    <br>
    <br>
    <br>
    <br>
      <div class="col-6 mx-auto">
        <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/login-administrador']" role="button">Administrador</a>
      </div>
  </div>
  
  
  
