<!--carga sidebar-->
<div >
    <div >
    <app-sidebar></app-sidebar>
    </div>

    <!--carga pagina-->
    <div class="info"><mat-card-content  class="logContainer">
           
                <div>
                  <h4>Agregar un catalogo</h4>
                  <div class="entrada">
 <input placeholder="Nombre del catalogo" [(ngModel)]="nombre" class="inp">
                <button class="but2">Agregar</button>
            </div>
        
</div>

        </mat-card-content>
        <mat-card-content  *ngFor="let entrada of catalogos" class="logContainer">
           
                <div><br>
                  <h4>{{entrada.nombre}}</h4>
        
</div>
 <div class="entrada">
 <button class="but2"  routerLink = "/catalogo/1" >Ver</button>
                <button class="but2"  routerLink = "/editar-catalogo/1">Editar</button>
            </div>
        </mat-card-content>
    </div>


</div>
